*.gee.pw
/id_rsa
/id_rsa.pub
/id_rsa-cert.pub
/known_hosts
/gnupg
/completion.lst
/Keys.*.d
/Config.*.d
/add
/aws
/authorized_keys
/cias-ssh-config.md
/dot.gitconfig
/install-ssh.sh
/10-create_ssh_config.sh
/Old
/Other.*.d
